div{
  text-align: center;
  color: rgb(1, 37, 236);
  font-size:25px
  
    
  
}
p{
  color:rgb(164, 170, 226)
  
}
button{
  height: 40px;
width:50px


}
.inp{
color:black;
background-color: aqua;

}
